<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% seo title=false %}

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <!--link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}"-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon.ico" }}">

  <!-- RSS -->
  {% feed_meta %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V3NP4163XP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V3NP4163XP');
  </script>

</head>
