<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/vosk">
        <img alt="Logo" src="/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-controls="navbar-collapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapsed">
                 <ul class="navbar-nav ms-auto">
                     <li class="nav-item"><a class="nav-link" href="/en">Alpha Cephei</a></li>
                     <li class="nav-item"><a class="nav-link" href="https://github.com/alphacep/vosk-api">vosk-api Source</a></li>
                     <li class="nav-item"><a class="nav-link" href="https://alphacephei.com/nsh/">Research</a></li>
                 </ul>
     </div>
    </div>
</nav>

