<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container-fluid">

        {% include navigation.html %}

        <div class="row m-2">
            <div class="col-2">
                 {% include sidebar.html %}
            </div>
            <div class="col-10">
                  <main>
                      {{ content }}
                   </main>
             </div>
        </div>

        <div class="row">
            <div class="col">
                {% include footer.html %}
            </div>
        </div>
    </div>
  </body>
</html>
